.page-title {
    text-align: center;
    color: lightslategrey;
}

.langg-pref-wrapper {
    height: 90vh;
    padding: 0.8rem 1rem;
    overflow: auto;
}

.language-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0.8rem;
    font-weight: 500;
    color: #000;
    background-color: black;
}